@import '../../media-queries';

.main-header {
  background-color: var(--yr-world-light-accent);
  padding: 1.25rem 1rem 1.25rem 2.5rem;
  text-align: left;
  position: relative;
  color: #ffffff;

  div {
    height: 1.5rem;
    background-color: var(--yr-world-light-shade);
    position: absolute;
    width: 93%;
    bottom: -.5rem;
    right: 1rem;
  }
}

@include  media-query-sm {
  .main-header {
     padding: .75rem 1rem .4rem 1.5rem;

    h1 {
      font-size: 2.40rem;
    }

    div {
      height: .75rem;
      bottom: -.25rem;
      right: .75rem;
    }
  }
}
